h1.intro {
  transform: scale(0.95);
  animation: scale 3s forwards cubic-bezier(0.4, 1, 0.89, 1);
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

span {
  display: inline-block;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  opacity: 0;
  filter: blur(3px);
}

.enter-link {
  display: inline-block;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  opacity: 0;
  filter: blur(3px);
  animation: fade-in-intro 2.5s 0.2s forwards cubic-bezier(0.0, 0, 0.5, 0);
}

span:nth-child(1) {
  animation: fade-in-intro 1s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(2) {
  animation: fade-in-intro 1s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
  animation: fade-in-intro 1s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(4) {
  animation: fade-in-intro 1s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(5) {
  animation: fade-in-intro 1s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in-intro {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes pulse {
  50% {
    opacity: .3;
  }
}

h2 {  
  display: block;
  animation: grow 2.5s forwards cubic-bezier(0.4, 1, 0.89, 1);
  animation-fill-mode: both;
  animation-delay: 0.8s;  
}

@keyframes grow {
  0% {
    transform: scale(0);
    opacity: 0;
    filter: blur(5px);
  }

  75% {
    transform: scale(1);
    opacity: 0.8;
    filter: blur(1px);
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.selfie-image {
  display: block;
  width: 12%;
  opacity: 68%;
  animation: grow 2.5s forwards cubic-bezier(0.4, 1, 0.89, 1);
  animation-fill-mode: both;
  animation-delay: 0.8s;  
}

@media screen and (max-width: 768px) {
  .selfie-image {
    width: 40%;
  }
}